/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  height: auto;
  font-family: 'Roboto', sans-serif;
}

main{
  max-width: 900px;
  margin: auto;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.747), -30px 0px 40px rgba(0, 0, 0, 0.747) ;
}


.matchup{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 930px;
}

.info{
  height: 150px;
  width: 500px;
  text-align: center;
  color: black;
  font-size: 2rem;
}


/* CONTAINER STADIUM BACKGROUNDS */

#Uefaopening{
  background-image: url('../images/UCL.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* #juveportobg{
  background-image: url('/Users/wilsonurias/Desktop/Champions League Matchups/Images/juveporto.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}



#bvbsevillabg{
  background-image: url('/Users/wilsonurias/Desktop/Champions League Matchups/Images/bvbsevilla.jpg');
  background-size: cover;
}


#barcapsgbg{
  background-image: url('/Users/wilsonurias/Desktop/Champions League Matchups/Images/parcsdeprinces.jpg');
  background-size: cover;
} */


/* CONTAINER STADIUM BACKGROUNDS */




/******************************************
/* LAYOUT
/*******************************************/



/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media screen and (max-width: 500px){
  .info{
    color: red;
  }
}